.btn{
    background: linear-gradient(#e91e6279,#ffc1076e);
    padding: 15px 30px;
    border-radius: 30px;
    box-shadow:  inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
    color: white;
    font-size: 1rem;
}